In [1]:
a = 10

In [2]:
a

10

In [3]:
if a == 10:
    print("a is 10")

a is 10

In [4]:
if a:  
    print("must print a")

must print a

In [5]:
if a:               # "0" BY DEAFULT IN PYTHON IS FALSE 
    print("hi")

hi

In [10]:
a =0

In [11]:
if a:
    print("value of a")

In [6]:
if -1:              # Negative mein TRUE
    print("hi")

hi

In [8]:
b = 30

In [9]:
if b == 30:     #Unlike other langs where {} starts block, here : starts block
    print("done")

done

In [12]:
if [23]:
    print("print here")

print here

In [13]:
if []:
    print("print here")

LOOPS

In [14]:
a = [1,2,3]

In [19]:
for num in a:
    print(num)         # num is a variable: variable can be anything

1
2
3

In [18]:
s = 'tanya'
for ch in s:
    print(ch)         # ch is a variable: variable can be anything

t
a
n
y
a

In [20]:
#using index in for loops 

a= [43, 56, 78]

In [22]:
for index, ch in enumerate(a):     #using ENUMERATE
    print(index, ch)

0 43
1 56
2 78

In [ ]:
WHILE LOOPS

In [28]:
a= 5

In [29]:
while a>0:
    print(a)
    a= a-1

5
4
3
2
1

range funtion in for loop

In [30]:
a = range(1, 10, 2)

In [31]:
a                     #creates an object of list type

range(1, 10, 2)

In [32]:
a = list(range(1, 10, 2))  
#starts from 1(including):till exludes 10: steps-skips

In [33]:
a

[1, 3, 5, 7, 9]

In [34]:
#print 1st 5 natural numbers : LIST
a = list(range(1,6))

In [35]:
a

[1, 2, 3, 4, 5]

In [36]:
#print 1st 5 natural numbers : NUMBERS
for i in range(1,6):
    print(i)

1
2
3
4
5

In [40]:
#list of 1st 10 natural number

b=[i for i in range(1, 11)]

In [41]:
b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [37]:
# 2 TABLE 
t = [2*i for i in range(1,11)]

In [38]:
t

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
2-D LISTS

In [48]:
a = [[1,2], [3,4]]

In [49]:
a[0]

[1, 2]

In [50]:
len(a)                 #no. of columns in row 0

2

In [51]:
#to iterate over it manually 
for i in range(0, len(a)):
    for j in range(0, len(a)):
        print(a[i][j])

1
2
3
4

In [54]:
for i in range(0, len(a)):
    for j in range(0, len(a)):      
        print(a[i][j], end = " ")
        
# end = " " will make sure that after printing each element instead of ending
# with a new line, it will end with a space " "

1 2 3 4

In [55]:
for i in range(0, len(a)):
    for j in range(0, len(a)):      
        print(a[i][j], end = " ")
    print()

1 2
3 4

In [ ]:
n - dimensions : uses numpy library

In [57]:
#table of 3
n =3
a = [i*n for i in range (1,11)]

In [58]:
a

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [61]:
a = [[i * n for i in range(1,11)] for n in range(1,11)]

In [62]:
a

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

In [59]:
d = [[n*i for i in range(1,11)] for n in range(1,21)]

In [60]:
d

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
 [11, 22, 33, 44, 55, 66, 77, 88, 99, 110],
 [12, 24, 36, 48, 60, 72, 84, 96, 108, 120],
 [13, 26, 39, 52, 65, 78, 91, 104, 117, 130],
 [14, 28, 42, 56, 70, 84, 98, 112, 126, 140],
 [15, 30, 45, 60, 75, 90, 105, 120, 135, 150],
 [16, 32, 48, 64, 80, 96, 112, 128, 144, 160],
 [17, 34, 51, 68, 85, 102, 119, 136, 153, 170],
 [18, 36, 54, 72, 90, 108, 126, 144, 162, 180],
 [19, 38, 57, 76, 95, 114, 133, 152, 171, 190],
 [20, 40, 60, 80, 100, 120, 140, 160, 180, 200]]

In [63]:
a = list(range(1,11))

In [65]:
for i in a:
    print(i, end = " ")
    if i == 6:
        break

1 2 3 4 5 6

In [67]:
for i in a:
    if i == 6:
        break
    print(i, end = " ")

1 2 3 4 5

In [68]:
for i in a:
    if i == 6:
        continue            # it skipped 6
    print(i, end = " ")

1 2 3 4 5 7 8 9 10

In [ ]:
ELSE CLAUSES IN FOR-LOOP

In [70]:
for i in a:
    print(i, end = " ")
#     if i == 6:          if the break is not used it also executes else statement
#         break
else:
    print("for/else statement hit")

1 2 3 4 5 6 7 8 9 10 for/else statement hit

In [71]:
for i in a:
    print(i, end = " ")
    if i == 6:
        break
else:
    print("for/else statement hit")

1 2 3 4 5 6

In [72]:
numbers = [1, 3, 5, 6, 7, 9, 10, 11]

for num in numbers:
    if num % 2 == 0:
        print("Found the first even number:", num)
        break

Found the first even number: 6

therefore only the first number found is printed, cause break statement is applied after that!

In [73]:
nums = [1,2,3,4,5,6,7,8,9]
count = 0
for i in nums:
    if num % 2 == 0:
        print(i, end = " ")
        count = count + 1
        
    if count == 2:
        break

1 2