In [ ]:
#DRY : Don't Repeat yourself! -- FUNCTIONS[ def keyword ]

In [37]:
def fun():
    print("Hello")

In [38]:
 fun()

Hello

In [39]:
a = fun()

Hello

In [40]:
print(a) 
#as the FUNCTION fun() doesn't return anything it gives "None" return type

None

In [10]:
def ff():
    return 3 #IN THIS FUNCTION, integer return type is provided & returned

In [12]:
b = ff()

In [13]:
b

3

In [14]:
print(b)

3

FUNCTIONS ARE ALSO OBJECT!
Functions are 1st class functions -> funtions are also treated as variables

In [15]:
c = fun  #c is also an object now

In [17]:
c()

Hello

In [18]:
def multiply(a, b):
    return a*b

In [20]:
multiply(4, 5)

20

#IN BUILT FUNCTIONS: lambda , inline , Map, filter , reduce

#If funtion body is small, can use lambda or inline functions

In [21]:
def fun(a):
    print(a)

In [22]:
fun = lambda a: print(a)

In [23]:
fun("hi")

hi

In [24]:
fun(3)

3

In [25]:
def add(a,b):
    return a + b

In [26]:
add = lambda a, b: a + b  
#You can write or not write return: Python automatically assumes it

In [27]:
add(3,2)

5


map: applies given function to each element of the iterable

In [47]:
map? #used to check what the function does

SyntaxError: invalid syntax (3419447984.py, line 1)

In [41]:
lambda?

Object `lambda` not found.

In [86]:
#multiply each number in list by 2
a = [1,2,3,4]

In [87]:
def multiple(x):
    return 2*x

In [90]:
list(map(multiple, a))

[2, 4, 6, 8]

In [33]:
list(map(lambda x: 2 * x, a))

[2, 4, 6, 8]

In [34]:
d= [1,2,3,4,5,6]

In [36]:
list(map(lambda x: x**2, d))

[1, 4, 9, 16, 25, 36]


FILTER Function- True or false values ONLY! --- it ignores False values 
(Q) Only want even numbers

In [43]:
d= [1,2,3,4,5,6,7,8,9,10]

In [44]:
def isEven(x):
    if x%2==0:
        return True
    else:
        return False

In [45]:
list(filter(isEven, d))

[2, 4, 6, 8, 10]

In [46]:
#isEven function as a lambda function
list(filter(lambda x: x%2==0, d))

[2, 4, 6, 8, 10]

In [49]:
#without body i'll get an error
def func():

SyntaxError: incomplete input (3536233557.py, line 2)

In [50]:
def func(): 
    pass     

#pass is used when you want to declare a function but not provide body atm

In [51]:
def comm():
    """ is this a comment? NO """ 
    
#this """  """ cannot be a comment becuase compiler treats it as multiline string
#giving no error: as the func has a body

FACTS


EVERYTHING IN PYTHON IS OBJECT!
Functions are also object
Classes are also object

In [52]:
a=10

In [54]:
isinstance(a, object)

True

In [55]:
isinstance(func, object) 
#function func is an object, i.e it is an instance of object class

True


QUESTIONS

In [56]:
s = ["hello world", "python programming", "data science"]

list(map(lambda s: s.title(), s))
# capitalized Strings

['Hello World', 'Python Programming', 'Data Science']

In [57]:
str = ["1", "22", "333", "4444", "55555"]

In [65]:
def str(s):
    int(s)

In [66]:
ans = str("22")



INBUILT FUNCTIONS IN PYTHON FOR VARIOUS DATATYPES

In [91]:
a = [1,2,3,4]

In [69]:
a.insert(2, 34)

In [70]:
a

[1, 2, 34, 3, 4]

In [80]:
a.insert(4, 2)    #insert(ON THIS INDEX , THIS VALUE SHOULD BE PUT)

In [81]:
a

[1, 2, 2, 34, 2, 3, 4]

In [82]:
a.remove(2)   #It removes the first index value at which the "2" APPEARS

In [83]:
a

[1, 2, 34, 2, 3, 4]

In [84]:
a.reverse()    #to reverse the list : can also be done by slicing

In [85]:
a

[4, 3, 2, 34, 2, 1]