INPUTs
Python takes input by-default as a STRING
input() lets user give input from the standard stream I.E KEYBOARD

In [1]:
a = input()

35

In [2]:
a             #Output mein ' ' mentioned hai. Therefore it a string

'35'

In [3]:
type(a)       #Type check of a gives string

str

In [4]:
b= input()

20

In [5]:
#since a and b, both are string values + will concatenate the string
#can give string '3520'
a + b

'3520'


WHAT WE CAN DO? --> CASTING

In [6]:
int('56')     #converts string '56' to integer 56

56

In [7]:
a= int(a)      #Type casted into integers
b= int(b)

In [8]:
a + b          #Hence output is integer, sum of 2 numbers

55

In [9]:
list((2,3,4))  #tuple casted to list

[2, 3, 4]


SHORTCUT-SIMPLIFIED

In [10]:
a = int(input())
b = int(input())

20
40

In [11]:
a + b

60


DISPLAY MESSAGE WHILE TAKING INPUT

In [13]:
a = int(input("enter 1st nos: "))
b = int(input("enter 2nd nos: "))

enter 1st nos: 20
enter 2nd nos: 30

In [14]:
type(a)

int



IMPORTANT METHODS: split, strip, join 

strip: to remove extra spaces
split: split a certain thing according to the parameter:(below 1st) according          to spaces " " 
join: only joins STRINGS!

In [16]:
a = "   2 3 4 5   "

In [17]:
a.strip()

'2 3 4 5'

In [22]:
b= a.strip()

In [26]:
li = b.split(" ")

In [27]:
li      #these are all string elements - to convert it to

['2', '3', '4', '5']

In [30]:
l = list(map(int, li))

In [31]:
l

[2, 3, 4, 5]

In [32]:
sum(l) 
#sum of integer elements of the list ::: other place will have string concatenating

14



INPUT TO LIST

In [34]:
a = input()

2 3 4 5

In [36]:
li = a.split(" ")  #split it by space

In [37]:
li

['2', '3', '4', '5']

In [38]:
list(map(int, li))    #can be converted to list

[2, 3, 4, 5]

In [39]:
type(li)

list

In [40]:
tuple(map(int, li))   #can be converted to tuple

(2, 3, 4, 5)

In [41]:
f= 10
s= 20
f,s = s,f     # it converts s,f to tuple then assigns values, hence ans in tuple

In [42]:
s,f

(10, 20)

In [43]:
num1, num2, num3 = [10, 20, 30]

In [44]:
num1

10

In [45]:
num2

20

In [46]:
nums = input()                     #takes string input

5 8

In [48]:
a, b = map(int, nums.split(" "))  #splits that string input considering space" "

In [49]:
a

5

In [50]:
b

8

JOIN with strings only!

In [57]:
d = input()

2 3 4 6 7

In [63]:
lis = d.split(" ")

In [64]:
lis

['2', '3', '4', '6', '7']

In [65]:
"-".join(lis)

'2-3-4-6-7'



PRINTING!
sep argument

In [51]:
#print has a sep argument that decides what to add instead of , (comma)
#default is space sep = " "
print(34, 56)

34 56

In [52]:
#customised sep
print(34, 56, sep="-")

34-56

In [ ]:
STRING FORMATTING

In [53]:
a= 10
b= 20

In [54]:
print("the 2 nos are", a, "and", b)       #comma , after everything

the 2 nos are 10 and 20

In [55]:
print("the 2 nos are {} and {}".format(a,b))  
#here place holders are used {} --> format method used!

the 2 nos are 10 and 20

In [ ]:
#f string -- BEST WAY!

In [56]:
print(f"the 2 nos are {a} and {b}")

the 2 nos are 10 and 20